@media only screen and (min-resolution: 192dpi) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                rgba(46, 47, 66, 0.70)),
            url(../images/images/Dark-bg_mob@2x.jpg);
    }
}

@media only screen and (max-width: 767.98px) {
    .menu-nav {
        display: none;
    }

    .contacts {
        display: none;
    }
}
@media screen and (min-width: 768px) {
    .hero-section {
        max-width: 768px;
        padding-top: 112px;
        padding-bottom: 112px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                rgba(46, 47, 66, 0.70)),
            url(../images/images/Dark-bg_tabl.jpg);
    }
}
@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                rgba(46, 47, 66, 0.70)),
            url(.images/images/Dark-bg_tabl@2x);
    }
}

@media screen and (min-width: 1158px) {
    .hero-section {
        max-width: 1440px;
        padding-top: 188px;
        padding-bottom: 188px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                rgba(46, 47, 66, 0.70)),
            url(../images/images/peopleoffice.jpg);
    }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.70),
                rgba(46, 47, 66, 0.70)),
            url(./images/images/peopleofficedesc@2x.jpg);
    }
}